@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = null;
}

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <p>Click on the button to login</p>
        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
    </header>